<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, {{name}}</div>
<div>
    <form method="post" action="/logout">
        <input type="submit" value="Sign Out">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
<a href="/comment">Comment</a>
</body>
</html>