<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Spring Security Example</title>
</head>
<body>
Add new user
<!--если message!=null выводим его-->
{{#message}}
    {{message}}
{{/message}}
<form method="post" action="/signup">
    <div >
        <label for="username"> Name:   <input type="text" id="username" name="username"><br/></label>
        <label for="password"> Password: <input id="password" type="password" name="password"><br/></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
<!--        <div><label for="remember-me"> <input type="checkbox" id="remember-me" name="remember-me">Запомнить меня</label><br/>-->
        </div>
    </div>
    <button type="submit" value="Sign Up">Подтвердить</button>
</form>
</body>
</html>